body{
	background-image: url('img/octagon.png');
	font-family: 'Handlee', cursive;

		text-align: center;
}

body h1{
	padding-top: 25px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 60px;

}
body h3{
	font-size: 25px;
}

body section{
	border:1px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 15px;
	background-color: powderblue;
	text-align: center;
	font-size: 22px;
	border-radius: 5px;
}

section a{
	border-radius:3px;
	font-family: 'Handlee', cursive;
	background-color: royalblue;
	border: 1px powderblue;
	font-size: 25px
	margin: 10px;
  	padding: 14px;
}

section a:hover{
	background-color: whitesmoke;
	border: 1px royalblue;
	color:royalblue;
}

#esay{
	font-size: 13pt;
	font-family: 'Handlee', cursive;
	border-radius: 6px;
	background-color: whitesmoke;
	border: 1px powderblue;
}
section p #numberWords{
	font-size: 15px;
}